ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-card {
    width: 90%; // Adjust width as needed
    max-width: 400px; // Prevent card from being too wide
    text-align: center;
  }
  